input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* input, select {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
} */
.select-fixsize{
    transform:scaleY(1.4) !important;
    transform:translateY(1vh) !important;
}
select{
    box-sizing: border-box !important;
    border: 3px solid #ccc;
    border-radius: 5px !important;
    -webkit-transition: 0.5s !important	;
    transition: 0.5s !important;
    outline: none !important;
    font-size: 175% !important	;
}
input{
    font-size: 130% !important;
}
.c-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0px;
}

form.c-addform{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}
.min-width-title{
    min-width: 256px !important;
}
.select-type{
    width: 20vw;
    min-width: 128px !important;
}
.min-width-text{
    min-width: 128px !important;
}
.button-center{
    transform: translateX(25vw) !important;
}
.c-textarea{
    resize: none;
    height: 200px !important;
    font-size: 140%;
}
/* write a rule that states, when screen size below x then increase top margin */
@media screen and (max-width: 800px) {
    .button-center{
        transform: translateX(40vw) !important;
    }
    .min-width-title{
        width: 85vw;
        margin: auto;
        margin-right: auto;
    }
    .select-type{
        margin-top: 10px;
        min-width: 128px !important;
    }
    .min-width-text{
        margin-top: 10px;
        min-width: 128px !important;
    }
    .c-row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form.c-addform{
        width: 100%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1400px){
    .min-width-text{
        min-width: 180px !important;
    }
    .min-width-text:nth-of-type(2){
        margin-top: 15px;
    }
    .min-width-text:nth-of-type(1){
        margin-top: 15px;
    }
}
