@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 2vh;
}
body{
  color:rgb(207, 197, 197);
  background-color:#212529;
  min-height: 90vh !important;
}
h1{
display: block;
text-align:center;
margin-top: 4vh;
font-size: 400%;
margin-bottom: 6vh;
}


a.disabled{
  pointer-events: none;
  cursor: default;
}

footer
{
  margin-top: auto;
  background-color: #000000;
  color: white;
  padding: 1%;
  font-size: 15px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 5px;
  width: 100%;
}

.social > a{
    padding: 1%;
    font-size: 15px;
}

.social > a:hover{
    color:rgb(86, 66, 241);
    cursor:pointer;
}
tablec{
  width: 100vw;
}
/* .center{
  background-color: red;
} */

