{% extends 'add.html' %}

{% block tabela %}
 
<input type="text" name="search" id="search", style="width: 500px;" autocomplete="off" list="search-books">
<datalist id="search-books">
    {% for book in books %}
        <option value="{{ book.title }}" data-id="{{ book.id }}">
    {% endfor %}
</datalist>

<script>
    document.getElementById("search").addEventListener("change", function() {
        var datalist = document.getElementById("search-books");
        var selectedOption = this.value;
        var selectedOptionId = datalist.querySelector('[value="' + selectedOption + '"]').getAttribute('data-id');
        $.get('/get_book_details?id=' + selectedOptionId, function(bookDetails) {
            document.getElementById('actionused').value = 'edit';
            document.getElementById('title').value = bookDetails.title;
            document.getElementById('book_type').value = bookDetails.book_type;
            document.getElementById('status').value = bookDetails.status;
            document.getElementById('total_chapters').value = bookDetails.total_chapters;
            document.getElementById('last_chapter').value = bookDetails.last_chapter;
            document.getElementById('grade').value = bookDetails.grade;
            document.getElementById('priority').value = bookDetails.priority;
            document.getElementById('link').value = bookDetails.link;
            document.getElementById('notes').value = bookDetails.notes;
        });
    });
</script>
<div class="tablec" style="margin-top: 100px;">
    <table class="table table-dark thead-dark table-bordered table-hover w-auto">
        <thead class="thead-dark">
            <tr>
                <th style="background-color:#323539; text-align: center;">#</th>
                <th style="background-color:#323539; text-align: center;">Title</th>
                <th style="background-color:#323539; text-align: center;"></th>
                <th style="background-color:#323539; text-align: center;">Type</th>
                <th style="background-color:#323539; text-align: center;">Total Chapters</th>
                <th style="background-color:#323539; text-align: center;">Last Chapter</th>
                <th style="background-color:#323539; text-align: center;">Priority</th>
                <th style="background-color:#323539; text-align: center;">Status</th>
                <th style="background-color:#323539; text-align: center;">Notes</th>
            </tr>
        </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td class="wn" id='wp{{loop.index}}'><p>{{book.title}}</p></td>
            <td class="wnk" style="margin:0px; padding:0px;">
                <div class="btn-group" role="group">
                    <div class="tp">
                    <button class="btn btn-outline-primary" onclick="cpt('wp{{loop.index}}','wpm{{loop.index}}')">
                        <span class="tooltiptext" id="wpm{{loop.index}}"><p style="transform: translateY(7px);">Kopiuj</p></span>
                            
                    </button>
                    </div>
                    <div class="tp">
                        
                        {% if book.link != "" %}
                        <a href="{{book.link}}" target="_blank">
                            <button class="btn btn-outline-primary"><p  style="transform: translateY(7px);">Link</p></button>
                        </a>
                        {% else %}
                            <a target="_blank" class="disabled">
                                <button class="btn btn-outline-primary" disabled><p  style="transform: translateY(7px);">Link</p></button>
                            </a>
                        {% endif %}
                        
                        
                </div>
            </td>
            <td class="wr"><p>{{ book.book_type.name }}</p></td>
            <td><p class="numbers">{{ book.total_chapters }}</p></td>
            <td><p class="numbers">{{ book.last_chapter }}</p></td>
            <td><p class="numbers">{{ book.priority }}</p></td>
            <td><p class="numbers">{{ book.status.name }}</p></td>
            <td><p class="numbers">{{ book.notes }}</p></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}